<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="auto">
          <ion-card-subtitle>
            {{ article.source.name }}
          </ion-card-subtitle>
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)="onOpenMenu()" fill="clear" size="small">
            <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-title (click)="openArticle()">
          {{ article.title }}
        </ion-card-title>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-img
    *ngIf="article.urlToImage"
    [src]="article.urlToImage"
    (click)="openArticle()"
  ></ion-img>

  <ion-card-content
    *ngIf="article.description">
    <p>{{ article.description }}</p>
  </ion-card-content>
</ion-card>
